.scroll-container {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 1rem 0;
  background: #fff;
}

.series-box {
  background: #f2f0f0;
  padding: 1rem;
  margin: 1rem 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container .series-input {
  flex-grow: 0.02;
}

#add-button {
  flex: 0 0 auto;
  /* Prevents from stretching to fill container due to parent's display:flex */
  align-self: self-start;
}
